<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Texto a cifrar" [(ngModel)]="textoClaro"></ion-input>
  <hr>
  <ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
  <ion-input placeholder="secureKey" [(ngModel)]="secureKey"></ion-input>
  <ion-input placeholder="secureIV" [(ngModel)]="secureIV"></ion-input>
  <ion-button (click)="generarKeyIV()">Generar Key - IV</ion-button>
  <hr>
  <ion-input placeholder="Texto cifrado" [(ngModel)]="textCifrado"></ion-input>
  <ion-input placeholder="Texto descifrado" [(ngModel)]="textoDescifrado"></ion-input>
  <ion-button (click)="encriptar()">Encriptar</ion-button>
  <ion-button (click)="desencriptar()">Desencriptar</ion-button>
</ion-content>
